console.log('*** SOSPA ***');

var lontano = {
}

lontano.axios = axios.create({
  baseURL: '/'
});

lontano.call = function (interface, operation, params) {
  console.log('lontano.call: interface=' + interface + ' operation=' + operation + ' params=' + JSON.stringify(params));
  var url = interface + '/' + operation;
  var body = JSON.stringify(params);
  return lontano.axios.post(url, body)
    .then(function(result) {
      console.log(`calling url ${url} returned ${JSON.stringify(result)}`)
      return result.data;
    });
}


lontano.api = {};

{{#interfaces}}
lontano.api.{{interfaceName}} = {};
{{#operations}}
lontano.api.{{interfaceName}}.{{operationName}} = function ({{commaSeparatedParams}}) {
  return lontano.call('{{interfaceName}}', '{{operationName}}', [{{commaSeparatedParams}}]);
};
{{/operations}}

{{/interfaces}}

/*
 * Custom Lontanon JavaScript extension starts below
 */
